openapi: 3.0.3
info:
  title: 日历服务API
  version: 1.0.0
  description: 提供创建共享日历等日历管理功能的接口，支持应用或用户身份调用。
servers:
  - url: https://open.feishu.cn/open-apis/calendar/v4
    description: 飞书开放平台生产环境服务器
paths:
  /calendars:
    post:
      summary: 创建共享日历
      description: 调用该接口为当前身份（应用或用户）创建一个共享日历。
      operationId: createCalendar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCalendarRequest'
            examples:
              defaultExample:
                value:
                  summary: "测试日历"
                  description: "使用开放接口创建日历"
                  permissions: "private"
                  color: -1
                  summary_alias: "日历备注名"
        required: true
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCalendar'
              examples:
                successResponse:
                  value:
                    code: 0
                    msg: "success"
                    data:
                      calendar:
                        calendar_id: "feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn"
                        summary: "测试日历"
                        description: "使用开放接口创建日历"
                        permissions: "private"
                        color: -1
                        type: "shared"
                        summary_alias: "日历备注名"
                        is_deleted: false
                        is_third_party: false
                        role: "owner"
        '400':
          description: 请求参数错误
          content:
            application/json:
              example:
                code: 190002
                msg: "invalid parameters in request"
        '403':
          description: 权限不足
          content:
            application/json:
              example:
                code: 190006
                msg: "wrong unit for app tenant"
        '404':
          description: 资源未找到
          content:
            application/json:
              example:
                code: 195100
                msg: "user is dismiss or not exist in the tenant"
        '429':
          description: 请求频率超限
          content:
            application/json:
              example:
                code: 190004
                msg: "method rate limited"
        '500':
          description: 服务器内部错误
          content:
            application/json:
              example:
                code: 190003
                msg: "internal service error"
      security:
        - bearerAuth: []
      tags:
        - Calendar

components:
  schemas:
    CreateCalendarRequest:
      type: object
      properties:
        summary:
          type: string
          description: 日历标题。
          maxLength: 255
          example: "测试日历"
        description:
          type: string
          description: 日历描述。
          maxLength: 255
          example: "使用开放接口创建日历"
        permissions:
          type: string
          enum:
            - private
            - show_only_free_busy
            - public
          description: 日历公开范围。默认值：show_only_free_busy
          example: "private"
        color:
          type: integer
          format: int32
          description: 日历颜色，由 RGB 值的 int32 表示。仅对当前身份生效。
          example: -1
        summary_alias:
          type: string
          description: 日历备注名，仅对当前身份生效。
          maxLength: 255
          example: "日历备注名"
      example:
        summary: "测试日历"
        description: "使用开放接口创建日历"
        permissions: "private"
        color: -1
        summary_alias: "日历备注名"

    CalendarInfo:
      type: object
      properties:
        calendar_id:
          type: string
          description: 日历 ID。后续可以通过该 ID 查询、更新或删除日历信息。
          example: "feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn"
        summary:
          type: string
          description: 日历标题。
          maxLength: 255
          example: "测试日历"
        description:
          type: string
          description: 日历描述。
          maxLength: 255
          example: "使用开放接口创建日历"
        permissions:
          type: string
          enum:
            - private
            - show_only_free_busy
            - public
          description: 日历公开范围。
          example: "private"
        color:
          type: integer
          format: int32
          description: 日历颜色，映射到客户端最接近的颜色，仅对当前身份生效。
          example: -1
        type:
          type: string
          enum:
            - unknown
            - primary
            - shared
            - google
            - resource
            - exchange
          description: 日历类型。
          example: "shared"
        summary_alias:
          type: string
          description: 日历备注名，仅对当前身份生效。
          maxLength: 255
          example: "日历备注名"
        is_deleted:
          type: boolean
          description: 对于当前身份，日历是否已经被标记为删除。
          default: false
          example: false
        is_third_party:
          type: boolean
          description: 当前日历是否是第三方数据。三方日历只支持读。
          default: false
          example: false
        role:
          type: string
          enum:
            - unknown
            - free_busy_reader
            - reader
            - writer
            - owner
          description: 当前身份对于该日历的访问权限。
          example: "owner"
      required:
        - calendar_id
      description: 新创建的日历实体信息。

    ApiResponseCalendar:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: 错误码，非 0 表示失败
          example: 0
        msg:
          type: string
          description: 错误描述
          example: "success"
        data:
          type: object
          properties:
            calendar:
              $ref: '#/components/schemas/CalendarInfo'
          description: 返回数据体
      description: 创建日历接口的通用响应结构

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 使用 `tenant_access_token` 或 `user_access_token`，格式为 Bearer <token>