openapi: 3.0.0
info:
  title: 飞书 IM 发送消息 API
  description: |
    调用该接口可向指定用户或群聊发送消息，支持文本、富文本、卡片、群名片、个人名片、图片、视频、音频、文件、表情等类型。
    前置条件：
    1. 应用需启用机器人能力并发布新版本；
    2. 向用户发消息时，用户需在机器人可用范围；
    3. 向群聊发消息时，机器人需在群内且有发言权限。
    使用限制：
    1. 频率限制：同一用户 5 QPS，同一群聊内机器人共享 5 QPS；
    2. 仅应用机器人可调用，群自定义机器人不可用；
    3. 文本消息最大 150 KB，卡片/富文本最大 30 KB（含模板数据）；
    4. 图片/音频/视频/文件需先上传获取资源 Key，不可用云文档 file_token；
    5. share_chat 类型群名片有效期 7 天，system 类型仅支持单聊。
  version: 1.0.0
servers:
  - url: https://open.feishu.cn/open-apis
paths:
  /im/v1/messages:
    post:
      summary: 发送消息
      description: 向指定用户或群聊发送消息，支持多种消息类型
      parameters:
        - name: receive_id_type
          in: query
          required: true
          schema:
            type: string
            enum: [open_id, union_id, user_id, email, chat_id]
            example: open_id
          description: |
            接收者 ID 类型：
            - open_id：应用维度用户标识
            - union_id：开发者租户维度用户标识
            - user_id：租户维度用户标识（自定义应用需申请「获取用户 ID」权限）
            - email：用户实际邮箱
            - chat_id：群聊标识
      requestBody:
        required: true
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/MessageRequest'
      responses:
        '200':
          description: 发送成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: 请求失败（参数错误、权限不足等）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - BearerAuth: []
      x-rate-limit: 1000 次/分钟 & 50 次/秒
      x-supported-app-types: [自定义应用, 商店应用]
      x-required-scopes:
        - 私信和群聊中读取和发送消息
        - 以应用身份发送消息
        - 发送消息 V2（旧版本）
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: tenant_access_token
      description: 格式：Bearer <access_token>，示例：Bearer t-g1044qeGEDXTB6NDJOGV4JQCYDGHRBARFTGT1234
  schemas:
    MessageRequest:
      type: object
      required: [receive_id, msg_type, content]
      properties:
        receive_id:
          type: string
          example: ou_7d8a6e6df7621556ce0d21922b676706ccs
          description: 接收者 ID，类型与 receive_id_type 一致
        msg_type:
          type: string
          enum: [text, post, image, file, audio, media, sticker, interactive, share_chat, share_user, system]
          example: text
          description: 消息类型
        content:
          type: string
          example: '{"text":"test content"}'
          description: JSON 序列化后的消息内容（需转义），格式与 msg_type 对应
        uuid:
          type: string
          maxLength: 50
          example: a0d69e20-1dd1-458b-k525-dfeca4015204
          description: 自定义去重标识，1 小时内同一 uuid 仅成功发送 1 次
    SuccessResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: 错误码，0 表示成功
        msg:
          type: string
          example: success
          description: 错误描述
        data:
          type: object
          properties:
            message_id:
              type: string
              example: om_dc13264520392913993dd051dba21dcf
              description: 消息 ID
            root_id:
              type: string
              example: om_40eb06e7b84dc71c03e009ad3c754195
              description: 根消息 ID（用于回复场景）
            parent_id:
              type: string
              example: om_d4be107c616aed9c1da8ed8068570a9f
              description: 父消息 ID（用于回复场景）
            thread_id:
              type: string
              example: omt_d4be107c616a
              description: 线程 ID
            msg_type:
              type: string
              example: interactive
              description: 消息类型
            create_time:
              type: string
              example: 1615380573411
              description: 创建时间戳（毫秒）
            update_time:
              type: string
              example: 1615380573411
              description: 更新时间戳（毫秒）
            deleted:
              type: boolean
              example: false
              description: 是否删除
            updated:
              type: boolean
              example: false
              description: 是否更新
            chat_id:
              type: string
              example: oc_5ad11d72b830411d72b836c20
              description: 群聊 ID（仅群聊消息返回）
            sender:
              type: object
              properties:
                id:
                  type: string
                  example: cli_9f427eec54ae901b
                  description: 发送者 ID（应用 ID）
                id_type:
                  type: string
                  example: app_id
                  description: 发送者 ID 类型
                sender_type:
                  type: string
                  example: app
                  description: 发送者类型
                tenant_key:
                  type: string
                  example: 736588c9260f175e
                  description: 租户 Key
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          example: 230001
          description: 错误码（非 0 表示失败）
        msg:
          type: string
          example: 你的请求包含无效参数
          description: 错误描述
        error:
          type: object
          properties:
            log_id:
              type: string
              example: 202409131613579778D691D6E05516DE2D
              description: 日志 ID（用于排查问题）
            troubleshooter:
              type: string
              example: 排查建议：https://open.feishu.cn/search?from=openapi&log_id=xxx&code=xxx
              description: 排查建议链接
  x-error-codes:
    - code: 230001
      description: 无效请求参数
      solution: 检查参数是否符合文档要求，参考 ext 信息排查
    - code: 230002
      description: 机器人不在群内
      solution: 将应用机器人添加到接收消息的群聊
    - code: 230006
      description: 未启用机器人能力
      solution: 启用应用的机器人能力
    - code: 230013
      description: 机器人对该用户不可用
      solution: 配置应用可用范围，确保用户在范围内
    - code: 230020
      description: 触发频率限制
      solution: 降低请求频率
    - code: 230022
      description: 消息包含敏感信息
      solution: 检查并修改消息内容
    - code: 230025
      description: 消息内容长度超限
      solution: 缩短消息内容（文本≤150KB，卡片/富文本≤30KB）
    - code: 230099
      description: 卡片内容创建失败
      sub-codes:
        - sub-code: 100290
          description: 卡片中存在无效用户 ID
          solution: 检查 at 组件中的用户 ID 是否正确
        - sub-code: 200380
          description: 卡片模板不存在
          solution: 确保卡片模板已保存并发布
        - sub-code: 200621
          description: 卡片 JSON 格式错误
          solution: 参考卡片 JSON 结构规范检查