openapi: 3.0.3
info:
  title: 日历服务API
  version: 1.0.0
  description: 提供创建、管理共享日历的能力，支持应用或用户身份调用，用于在飞书平台中创建和配置日历资源。
servers:
  - url: https://open.feishu.cn/open-apis
    description: 飞书开放平台生产环境服务器
  - url: http://api.example.com/v1
    description: 测试环境服务器
paths:
  /calendar/v4/calendars:
    post:
      summary: 创建共享日历
      description: 调用该接口为当前身份（应用或用户）创建一个共享日历。
      operationId: createCalendar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarCreateRequest'
            examples:
              default:
                value:
                  summary: "测试日历"
                  description: "使用开放接口创建日历"
                  permissions: "private"
                  color: -1
                  summary_alias: "日历备注名"
        required: true
      responses:
        '200':
          description: 成功响应
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarCreateResponse'
              examples:
                success:
                  value:
                    code: 0
                    msg: "success"
                    data:
                      calendar:
                        calendar_id: "feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn"
                        summary: "测试日历"
                        description: "使用开放接口创建日历"
                        permissions: "private"
                        color: -1
                        type: "shared"
                        summary_alias: "日历备注名"
                        is_deleted: false
                        is_third_party: false
                        role: "owner"
        '400':
          description: 请求参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_params:
                  value:
                    code: 190002
                    msg: "invalid parameters in request"
        '403':
          description: 权限不足或认证失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                wrong_unit:
                  value:
                    code: 190006
                    msg: "wrong unit for app tenant"
        '404':
          description: 资源未找到或用户不存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                not_found:
                  value:
                    code: 195100
                    msg: "user is dismiss or not exist in the tenant"
        '429':
          description: 请求频率超限
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                rate_limited:
                  value:
                    code: 190004
                    msg: "method rate limited"
        '500':
          description: 服务内部错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal_error:
                  value:
                    code: 190003
                    msg: "internal service error"
      security:
        - Authorization: []
      tags:
        - Calendar
components:
  schemas:
    CalendarCreateRequest:
      type: object
      properties:
        summary:
          type: string
          description: 日历标题。
          maxLength: 255
          example: "测试日历"
        description:
          type: string
          description: 日历描述。
          maxLength: 255
          example: "使用开放接口创建日历"
        permissions:
          type: string
          enum:
            - private
            - show_only_free_busy
            - public
          description: 日历公开范围。默认值：show_only_free_busy
          example: "private"
          x-enumNames:
            - Private
            - ShowOnlyFreeBusy
            - Public
        color:
          type: integer
          format: int32
          description: >
            日历颜色，取值通过颜色 RGB 值的 int32 表示，其中：
            - 24 ~ 31 位为透明度
            - 16 ~ 23 位为红
            - 8 ~ 15 位为绿
            - 0 ~ 7 位为蓝
            例如，-11034625 表示 RGB 值 (87, 159, 255)。
            实际展示时会映射到客户端最接近的颜色，且仅对当前身份生效。
          example: -1
        summary_alias:
          type: string
          description: 日历备注名，设置后仅对当前身份生效。
          maxLength: 255
          example: "日历备注名"
      example:
        summary: "测试日历"
        description: "使用开放接口创建日历"
        permissions: "private"
        color: -1
        summary_alias: "日历备注名"

    Calendar:
      type: object
      description: 新创建的日历实体信息。
      properties:
        calendar_id:
          type: string
          description: >
            日历 ID。后续可以通过该 ID 查询、更新或删除日历信息。
            更多信息可参见[日历 ID 字段说明](/ssl:ttdoc/uAjLw4CM/ukTMukTMukTM/reference/calendar-v4/calendar/introduction)。
          example: "feishu.cn_xxxxxxxxxx@group.calendar.feishu.cn"
        summary:
          type: string
          description: 日历标题。
          maxLength: 255
          example: "测试日历"
        description:
          type: string
          description: 日历描述。
          maxLength: 255
          example: "使用开放接口创建日历"
        permissions:
          type: string
          enum:
            - private
            - show_only_free_busy
            - public
          description: 日历公开范围。
          example: "private"
          x-enumNames:
            - Private
            - ShowOnlyFreeBusy
            - Public
        color:
          type: integer
          format: int32
          description: >
            日历颜色，由颜色 RGB 值的 int32 表示。
            实际在客户端展示时会映射到色板上最接近的一种颜色，且该字段仅对当前身份生效。
          example: -1
        type:
          type: string
          enum:
            - unknown
            - primary
            - shared
            - google
            - resource
            - exchange
          description: 日历类型。
          example: "shared"
          x-enumNames:
            - Unknown
            - Primary
            - Shared
            - Google
            - Resource
            - Exchange
        summary_alias:
          type: string
          description: 日历备注名，仅对当前身份生效。
          maxLength: 255
          example: "日历备注名"
        is_deleted:
          type: boolean
          description: 对于当前身份，日历是否已经被标记为删除。
          default: false
          example: false
        is_third_party:
          type: boolean
          description: 当前日历是否是第三方数据。三方日历及日程只支持读，不支持写入。
          default: false
          example: false
        role:
          type: string
          enum:
            - unknown
            - free_busy_reader
            - reader
            - writer
            - owner
          description: 当前身份对于该日历的访问权限。
          example: "owner"
          x-enumNames:
            - Unkonwn
            - FreeBusyReader
            - Reader
            - Writer
            - Owner

    CalendarCreateResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: 错误码，非 0 表示失败
          example: 0
        msg:
          type: string
          description: 错误描述
          example: "success"
        data:
          type: object
          properties:
            calendar:
              $ref: '#/components/schemas/Calendar'
          description: "-"

    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: 错误码
          example: 190002
        msg:
          type: string
          description: 错误描述
          example: "invalid parameters in request"
      description: API通用错误响应结构

  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        支持 `tenant_access_token` 或 `user_access_token`。
        - 使用 `tenant_access_token` 表示以应用身份调用
        - 使用 `user_access_token` 表示以用户身份调用
        必须确保应用已开启机器人能力。